/* FONTS */
@font-face {
    font-family: "Perfectly Nineties";
    src: url("fonts/PerfectlyNineties-Regular.woff2") format('woff2'),
        url("fonts/PerfectlyNineties-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Vela Sans";
    src: url("fonts/VelaSans-ExtraBold.woff2") format('woff2'),
        url("fonts/VelaSans-ExtraBold.woff") format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Vela Sans";
    src: url("fonts/VelaSans-SemiBold.woff2") format('woff2'),
        url("fonts/VelaSans-SemiBold.woff") format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Vela Sans";
    src: url("fonts/VelaSans-Regular.woff2") format('woff2'),
        url("fonts/VelaSans-ExtraBold.woff") format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


/* WRAPPER STYLE */
:root {
    font-size: 100%;
}

body {
    box-sizing: border-box;
    font-family: "Vela Sans";
    font-size: 1.125rem; /* 18px */
    font-weight: 400;
    color: #DD5533;
    background-color: #d9d9d9;
    /* padding: 2.5rem; */
}

article {
    display: inline-flex;
    height: 100wh;
    margin: 1.25rem;
    background-color: lightblue;
}

section {
    width: 50%;
}

section.hero {
    width: 50%;
    height: 100%;
}

aside {
    width: 60%;
    margin-inline: -1.6rem;
    margin-block: -2.2rem;;
}












p.author {
    font-size: 1.5rem;
    line-height: 105%;
    text-transform: uppercase;
    color: #DD5533;
}

/* FONT STYLE */
h1 {
    font-size: 4.688rem; /* 75px */
    font-weight: 800;
    line-height: 105%;
    letter-spacing: -0.188rem;
    text-transform: uppercase;
    color: #DD5533;
}

span.lvl-01 {
    font-size: 4.688rem; /* 75px */
    letter-spacing: -0.188rem;
}

span.lvl-02 {
    font-size: 7.5rem; /* 120px */
    letter-spacing: -0.375rem;
}

span.lvl-03 {
    font-size: 12.5rem; /* 200px */
    letter-spacing: -0.625rem;
}

span.footnote {
    font-size: 2.125rem; /* 34px */
    font-weight: 400;
    letter-spacing: -0.125rem;
}

h2 {
    font-size: 4.688rem; /* 75px */
    font-weight: 600;
    line-height: 105%;
    letter-spacing: -0.188rem;
    text-transform: uppercase;
    color: #C1C1C1;
}

.heading {
    font-size: 2.125rem; /* 34px */
    font-weight: 800;
    line-height: 110%;
    letter-spacing: -0.063rem;
    text-transform: uppercase;
    color: #DD5533;
}

blockquote {
    font-family: "Perfectly Nineties";
    font-size: 3.375em;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: -0.063rem;
    color: #9D9D9D;
    filter: blur(0.156rem); /* 2.5px */
}

/* LINK STYLE */
a:link {
    
    color: #DD5533;
    text-decoration: underline;
}

a:hover {
    color: #9D9D9D;
}
