/* FONTS */
@font-face {
    font-family: "Perfectly Nineties";
    src: url("fonts/PerfectlyNineties-Regular.woff2") format('woff2'),
        url("fonts/PerfectlyNineties-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Vela Sans";
    src: url("fonts/VelaSans-ExtraBold.woff2") format('woff2'),
        url("fonts/VelaSans-ExtraBold.woff") format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Vela Sans";
    src: url("fonts/VelaSans-SemiBold.woff2") format('woff2'),
        url("fonts/VelaSans-ExtraBold.woff") format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Vela Sans";
    src: url("fonts/VelaSans-Regular.woff2") format('woff2'),
        url("fonts/VelaSans-ExtraBold.woff") format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* STYLES */
body {
    font-family: "Vela Sans";
    font-size: 1.125rem;
    font-weight: 400;
    color: #F83E0F;
    background-color: #d9d9d9;
    padding: 2.5rem;
}

h1 {
    font-size: 3.25rem;
    font-weight: 600;
    line-height: 3.413rem; /* 54.6px */
    letter-spacing: -0.163rem;
    text-transform: uppercase;
}

article h1, h2, p {
    margin-bottom: 2.5rem;
}

blockquote {
    font-family: "Perfectly Nineties";
    font-size: 3.25rem;
    font-weight: 600;
    line-height: 2.925rem; /* 46.8px */
    letter-spacing: -0.033rem;
    color: #9D9D9D;
    filter: blur(0.156rem); /* 2.5px */
}

span {
    font-weight: 800;
}
