/* FONTS */
@font-face {
    font-family: "Perfectly Nineties";
    src: url("fonts/PerfectlyNineties-Regular.woff2") format('woff2'),
        url("fonts/PerfectlyNineties-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Vela Sans";
    src: url("fonts/VelaSans-ExtraBold.woff2") format('woff2'),
        url("fonts/VelaSans-ExtraBold.woff") format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Vela Sans";
    src: url("fonts/VelaSans-SemiBold.woff2") format('woff2'),
        url("fonts/VelaSans-SemiBold.woff") format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Vela Sans";
    src: url("fonts/VelaSans-Regular.woff2") format('woff2'),
        url("fonts/VelaSans-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* PRETTY GOOD */
:root {
    font-size: calc(100vw / 1440 * 12);
    box-sizing: border-box;
    display: block;
}

body {
    width: 100%;
    font-family: "Vela Sans";
    font-size: 1.5rem; /* 18px */
    letter-spacing: -0.03rem;
    line-height: 145%;
    font-weight: 400;
    color: #DD5533;
    background-color: #d9d9d9;
    padding-inline: 1.25rem;
    padding-block: 1.25rem;
}

article.hero {
    /* height: 95vh; */
    margin-block-end: 1.25rem;
    position: relative;
}

section.hero-screen:not(:first-child) {
    /* background-color: yellow; */
    position: relative;
    margin-block-end: 10rem;
}

h1 {
    font-size: 15rem;
    font-weight: 800;
    line-height: 90%;
    letter-spacing: -0.313rem;
    text-transform: uppercase;
    color: #DD5533;
    text-align: right;
    z-index: 10;
    padding-inline-start: 30%;
}

.gap-01 {
    letter-spacing: 1rem;
}

.gap-02 {
    letter-spacing: 8.25rem;
}

section:not(:first-child) {
    margin-block-start: 10rem;
    position:relative
} 

p:not(:first-child) {
    margin-block-start: 4rem;
}

a:link {  
    color: #DD5533;
    text-decoration: underline;
}

a:hover {
    color: #9D9D9D;
}

.key-text-line {
    font-size: 2.125rem;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0rem;
    text-transform: uppercase;
    padding-inline-start: 31%;
    padding-inline-end: 15%;
}

.key-text-hero {
    font-size: 2.125rem;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0rem;
    text-transform: uppercase;
    padding-inline-start: 31%;
    letter-spacing: 0.85rem;
}

.summary-line {
    font-size: 3.2rem;
    font-weight: 800;
    line-height: 110%;
    letter-spacing: -0.063rem;
    text-transform: uppercase;
    padding-inline-start: 0rem;
    padding-inline-end: 0rem;
}

.bulk {
    padding-inline-start: 31%;
    padding-inline-end: 31%;
}

blockquote {
    font-family: "Perfectly Nineties";
    font-size: 4em;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: -0.063rem;
    color: #9D9D9D;
    position: relative;
    width: 70%;
    margin-inline: auto;
    text-align: center;
    margin-block-start: 8rem;
    margin-block-end: 10rem;
}

.quote-top {
    filter: blur(0.1rem);
    position: absolute;
    margin-block: 0rem;
}

.quote-bottom {
    filter: blur(0.188rem);
    margin-block: 0rem;
}

.no-vis {
    visibility: hidden;
}

.heading-left {
    font-size: 10rem;
    font-weight: 800;
    line-height: 90%;
    letter-spacing: -0.4rem;
    text-transform: uppercase;
    text-align: left;
}

.heading-right {
    font-size: 10rem;
    font-weight: 800;
    line-height: 90%;
    letter-spacing: -0.4rem;
    text-transform: uppercase;
    text-align: right;
}

aside {
    width: 100%;
    height: 10rem;
    position: relative;
    z-index: -1;
}
aside.inner {
    width: 100%;
    height: 0rem;
    position: relative;
    z-index: -1;
}

.sub-head-small {
    width: 70%;
    position: absolute;
    margin-block-start: -5%;
    font-size: 10.5rem;
    font-weight: 800;
    line-height: 90%;
    letter-spacing: -0.5rem;
    text-transform: uppercase;
    color: #C1C1C1;
    filter: blur(0.25rem);
    opacity: 40%;
}

.sub-head-medium {
    width: 100%;
    position: absolute;
    margin-block-start: -10rem;
    font-size: 10.5rem;
    font-weight: 800;
    line-height: 90%;
    letter-spacing: -0.4rem;
    text-transform: uppercase;
    color: #C1C1C1;
    filter: blur(0.25rem);
    opacity: 40%;
}

.sub-head-large {
    width: 100%;
    position: absolute;
    margin-block-start: -15rem;
    font-size: 10.5rem;
    font-weight: 800;
    line-height: 90%;
    letter-spacing: -0.4rem;
    text-transform: uppercase;
    color: #C1C1C1;
    filter: blur(0.25rem);
    opacity: 40%;
}

h2 {
    width: 95%;
    position: absolute;
    font-size: 10.5rem;
    font-weight: 800;
    line-height: 90%;
    letter-spacing: -0.4rem;
    text-transform: uppercase;
    color: #C1C1C1;
    filter: blur(0.25rem);
    opacity: 40%;
}